#img:hover
{
	box-shadow: 0 0 10px 3px rgba(0, 140, 186, 0.7);
}
#tb1
{
	margin : 0 auto;
	font-size : 17px;

}

#td1
{
	background-color: #D3D3D3;
	border: 3px solid black; 
	width: 200px;
	height: 70px;
	font-family : monospace;
	text-align: center;
    padding: 15px;
}

#vide
{
	visibility: collapse;
	width: 20px;
	height: 70px;
}

td
{
	background-color: #FFFFFF;
	border: 1px solid black;
			border-collapse : collapse;	

}